* {
	box-sizing: border-box;
}

body {
	margin: 2pc;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	place-content: center;
	background-color: rgb(0, 0, 0);
}

.box {
	font-family: Arial, sans-serif;

	width: 100px;
	height: 100px;
	padding: 10px;

	background: radial-gradient(rgb(0, 0, 0), rgb(30, 30, 30));
	outline: 1px auto white;
}

.midnight-glass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: clamp(3rem, 10vw, 10rem);
	font-weight: 900;

	text-align: center;
	text-anchor: middle;
	text-transform: uppercase;

	margin-top: 0px;
	margin-bottom: 0px;

	background: -webkit-linear-gradient(gray, black);
	background-clip: text;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.01em rgba(255, 255, 255, 0.6);
}

.sequence1 {
	transform: translate(30px, 10px);
}

.sequence2 {
	transform: rotate(30deg);
}

.sequence3 {
	transform: skew(10deg, 10deg);
}
